{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Here is the glimpse of my existence</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      <p> I am Novi, an Indonesian. I have traveled to a few countries nearby and I'd like to share it here with you guys. Life when you travel feels so different, it is magical in my opinion. So many unexpected good and annoying things happen. Especially when you travel alone, you will find yourself. It is a journey to find yourself through the uncertain and unknown world.
      We are all just a small, powerless creature in a new world. We learn and learn and eventually grasp the idea of how to do things like the locals do. Beautiful, isn't it?.
      Anyway, do you enjoy fantasy movies? I do. A lot. Many do not because these movies are very dramatic and not like reality, well of course because they are fantasy genre, haha.
      But for me, as a tired human being, I feel that watching fantasy movie gives me the entertainment that I need, I mean entertainment does not have to be making sense, isn't it? Everybody has their own preference and taste about movies genre. Ok, so this blog will be very random. My voyage memoirs, and some other things. Join me, please register, and leave some comments.
      I made this blog with Python, I am doing some progress with my programming language, I store your data in SQLite Database, but do not worry, your password is safe with you, I hash the password to make it safe, Even I, will not be able to read your password, it is encrypted, advanced hash so even when your account here get hacked here, hackers will need at least 8 months to be able to tackle your password.
      So why would they spend their valuable 8 months to hack your account in my small infamous website?
      Oh anyway when I travel, I do not study. I treasure every moment when I travel, I enjoy every second of it. Never in my young life I imagined to be able to travel abroad, but universe is so kind to me, introducing me to the voyage world that turns out to be one of many things I most adore.
      I travel slow, I am not into a quick travel, that will make me feel very tired. I like to rest sometimes when I travel. </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}